<h1>Administrare site</h1>

<form action="/adauga-produs" method="POST">
<label for="produs">Produs:</label>
  <input type="text" id="produs" name="produs"><br><br>
  <label for="id">Id:</label>
  <input type="text" id="id" name="id"><br><br>
  <button id ="btn_java" type="submit">Adaugă produs</button>
</form>